<h1 class="text-center">Movie Collection</h1>
<!-- Search Utility -->

<div class="container ">
  <div class="row">
    <div class="offset-sm-6 offset-lg-9 offset-md-8 " ></div>
    <div class="col-sm-6 col-12 col-lg-3 col-md-4 d-inline-block">
      <div class=" justify-content-end">
          <div class="input-group filters">
            <form [formGroup]="search">
                <input placeholder="Search Movie by Name" [formControl]="search.controls.term" type="text" class="form-control">
            </form>
          </div>
        </div>
          
        <div class="my-4 filters">
            <label for="genre-select">Genre filter</label>
            <select class="custom-select" name="genre-select" [(ngModel)] = "genre_selected" (ngModelChange)="onGenreSelected($event)"> 
              <option disabled selected>Genre Filter</option>
              <option>All</option>
              <option *ngFor="let genre of genres" [value]="genre">{{ genre | titlecase }}</option>
            </select>
        </div>
    </div>
  </div>
</div>

<!-- Movie List -->
<div class="container">
    <ul class="list-unstyled" *ngFor="let movie of movies">
        <li class="media padded border border-secondary  ">
          <div class="row">
            <div class= "col-md-3 col-sm-6 col-xs-12">
                <img class="mx-auto d-block rounded" src="../../assets/images/movie-covers/{{movie.img}}" alt="{{ movie.name }}">
            </div>
            <div class=" col-md-9 col-sm-6 col-xs-12">
              <div class="media-body mx-2 my-2 py-2 ">
                <a routerLink="movies-detail/{{movie.id}}">
                  <h5>{{ movie.name }}</h5>
                </a>
                <p>{{movie.description}}</p>
                <li class="card-text d-inline" *ngFor="let genre of movie.genres">
                    <span class="badge text-capitalize badge-pill badge-info">{{ genre }}</span>
                </li>
              </div>
            </div>
          </div>
        </li>
      </ul>
</div>

