<div *ngIf="movie">
    <div class="container item">
        <div class=" card mb-3">
            <img class="img-thumbnail mx-auto d-block" src="../../assets/images/movie-covers/{{movie.img}}" alt="{{ movie.name }}">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{movie.name}}</h5>
                <p class="card-text">{{movie.description}}</p>
                <p class="card-text"><small class="text-muted">{{movie.length}}</small></p>
                <!-- <p class="card-text"><small>Rating :</small><ngb-rating [(rate)]="movie.rate" [readonly]=true></ngb-rating>   {{ (movie.rate) }}</p> -->
                <ul class="genre-list text-uppercase" *ngFor="let genre of movie.genres">
                    <li class=" badge badge-pill badge-secondary">{{ genre }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

