<!-- Layout for displaying movie details -->
<div class="container item">
    <div class=" card mb-3">
        <img class="img-thumbnail mx-auto d-block" src="../../assets/images/movie-covers/{{movie.img}}" alt="{{ movie.name }}">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{movie.name}}</h5>
            <p class="card-text">{{movie.description}}</p>
            <p class="card-text"><small class="text-muted">{{movie.length}}</small></p>
            <p class="card-text"><ngb-rating  [(rate)]="movie.rate" [readonly]=true></ngb-rating>   {{ (movie.rate) }}</p>
            <li class="card-text d-inline" *ngFor="let genre of movie.genres">
                <span class="badge text-capitalize badge-pill badge-info">{{ genre }}</span>
            </li>
        </div>
      </div>
      <button class="btn btn-primary" routerLink="">Back</button>
</div>

<!-- Template used to display rating as stars  -->
<!-- <ng-template #t let-fill="fill">
    <small>
        <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;  
        </span>
    </small>
</ng-template> -->

