.card-image-bottom {
    color: #fff;
    height: 50%;
  }
.star {
  position: relative;
  display: inline-block;
  font-size: 2em;
  color: #d3d3d3;
}
.full {
  color: gray;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gray;
}
